:root {
  --primary-color: #f92582;
  --secondary-color: #024793;
  --tertiary-color: #3c3c3b;
  --rosa-2: #ff80c0;
  --lilas-1: #b22787;
  --lilas-escuro: #71207a;
}

.box-pulse {
  text-align: -webkit-center;
}

.box-pulse a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.botao-pulse {
  border-radius: 26px;
  background-color: #fff;
  color: var(--secondary-color);
  border-color: #fff;
  width: fit-content !important;

  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

.botao-pulse:hover {
  background-color: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
}

.botao-pulse-2 {
  border-radius: 26px;
  background-color: var(--lilas-1);
  color: #fff;
  border-color: var(--lilas-1);
  width: fit-content !important;

  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

.botao-pulse-2:hover {
  background-color: var(--lilas-escuro);
  color: #fff;
  border-color: var(--lilas-escuro);
}

.botao-pulse-3 {
  border-radius: 26px;
  background-color: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
  width: fit-content !important;
  justify-content: center;

  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

.botao-pulse-3:hover {
  background-color: var(--lilas-escuro);
  color: #fff;
  border-color: var(--lilas-escuro);
}

.botao-pulse-4 {
  border-radius: 26px;
  background-color: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
  width: fit-content !important;
  justify-content: center;

  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

.botao-pulse-4:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-weight: 600;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  25% {
    -o-transform: scale(1.1);
  }
  50% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
